<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/css/boilerplate.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Where is Pat?</title>
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
            #map_canvas { height: 100% }
    </style>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB_OeH5YFbLpgAObdY_FEVxPxHUuN5b6Jk&sensor=false"> </script>
    <script type="text/javascript">
       function initialize() {
	 var myOptions = { center: new google.maps.LatLng(<%= @tweet.geo.latitude %>, <%= @tweet.geo.longitude %>), zoom: 15, mapTypeId: google.maps.MapTypeId.ROADMAP };
         var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
         var marker = new google.maps.Marker({ position: new google.maps.LatLng(<%= @tweet.geo.latitude %>, <%= @tweet.geo.longitude %>), map: map, title:"Pat woz ere!",animation: google.maps.Animation.BOUNCE,
 });
       }
    </script>
      
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30558770-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>    
  </head>
  <body onload="initialize()">
    <div class="container">
      <h1>Where is Pat?</h1>
      <div class="tweet">
        <ul>
          <li class="last-tweet">
            <span class="title">Last tweet: </span>
            <span class="value"><%= @tweet.text %></span>
            <span class="detail">| <%= @tweet.created_at %></span></li>
          <li class="last-location">
            <span class="title">Last known location: </span>
            <span class="value"><%= @location.full_name %></span>
            <span class="detail">| <%= @tweet.geo.latitude %>, <%= @tweet.geo.longitude %></span>
          </li>                    
        </ul>
      </div>
      <div id="map_canvas" style="width:100%; height:500px"/>
    </div>
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>
  </body>
</html>
