<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/css/boilerplate.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Where is Pat?</title>
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
            #map_canvas { height: 100% }
    </style>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB_OeH5YFbLpgAObdY_FEVxPxHUuN5b6Jk&sensor=false"> </script>
    <script type="text/javascript">
       function initialize() {

         <% if !@lookup_lat.nil? && !@lookup_long.nil? %>
	   var patLat = <%= @lookup_lat %>;
	   var patLng = <%= @lookup_long %>;
         <% else %>
           // this is timbuktu = lat 16.7770957947, long: -3.00905203819
	   var patLat = 16.7770957947;
	   var patLng = -3.00905203819;
         <% end %>


         var patLocation = new google.maps.LatLng(patLat,patLng);

	 var myOptions = { center: patLocation, zoom: 7, mapTypeId: google.maps.MapTypeId.ROADMAP };

         var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
         var marker = new google.maps.Marker({ position: patLocation, map: map, title:"Pat woz ere!",animation: google.maps.Animation.BOUNCE,
 });

         var how_far_circle = new google.maps.Circle({center: patLocation, map: map,radius: <%= @how_far_might_he_have_gone * 1609 %>, fillColor:"#c30083", fillOpacity: 0.2, strokeWeight: 2, strokeColor:"#c30083", strokeOpacity:0.9});
         var pos_array = new Array();
         var bounds = new google.maps.LatLngBounds();

         <% @past_locations.each {|location|  %>
            bounds.extend(new google.maps.LatLng(<%= location[:lat]%>,<%= location[:long] %>));
            pos_array.push(new google.maps.LatLng(<%= location[:lat]%>,<%= location[:long] %>));
         <% } %>
         var where_he_has_been = new google.maps.Polyline({map: map, path: pos_array ,strokeColor: "#257890", strokeOpacity: 0.8,strokeWeight: 3, geodesic: true});

         map.fitBounds(bounds);
       }
    </script>
      
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30558770-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>    
  </head>
  <body onload="initialize()">
    <div class="container">
      <h1>Where is Pat?</h1>
      <div class="tweet">
        <ul>
          <li class="last-tweet">
            <span class="title">Last tweet: </span>
            <span class="value"><%= @last_tweet.text %></span>
            <span class="detail">| <%= @last_tweet.created_at  %></span>
          </li>
          <% if !@last_location.nil? %>
            <li class="last-location">
              <span class="title">Last known location: </span>
              <span class="value"><%= @last_location %></span>
              <span class="detail">| <%= @lookup_lat || 0.0 %>, <%= @lookup_long || 0.0 %></span>
              <span class="detail">| <%= @time_at_location  %></span></li>
            </li> 
            <% if @hours_since_last_tweet > 0 %>
              <li class="how-far">
                <span class="title">Freshness: </span>
                <span class="value">It's been <%= @hours_since_last_tweet %> hours since his last locatable tweet - he could be <%= @how_far_might_he_have_gone %> miles away by now</span>
              </li>
            <% end %>
          <% else %>
            <li class="lost">
              <span class="title">Last known location: </span>
              <span class="value">No idea - he could be in Timbuktu for all I know!</span>
            </li>
          <% end %>
        </ul>
      </div>
      <div id="map_canvas" style="width:100%; height:500px"/>
    </div>
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>
  </body>
</html>
