<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="/css/boilerplate.css" type="text/css"/>
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<title>Where is Pat?</title>
	</head>
	<body>
		<div class="container">
			<h1>Where is Pat?</h1>
			<div class="tweet" style="margin-bottom:30px;">
				<ul>
					<li class="last-tweet">
						<span class="title">Last tweet:</span> <span class="value"><%= @last_tweet.text %></span> <span class="detail">| <%= @last_tweet.created_at %></span>
					</li>
					<li class="last-location">
						<span class="title">Last known location:</span>
						<span class="value"><%= @last_place.name %></span>
						<span class="detail">| <span class="latitude"><%= @last_place.latitude %></span>, <span class="longitude"><%= @last_place.longitude %></span></span>
						<span class="detail">| <%= @last_place.visited_at %></span>
					</li>					
					<% if @hours_since_last_tweet > 0 %>
					<li class="freshness">
						<span class="title">Freshness:</span>
						<span class="value">It's been <%= @hours_since_last_tweet %> hours since his last locatable tweet - he could be <span class="how-far"><%= @how_far_might_he_have_gone %></span> miles away by now</span>
					</li>
					<% end %>
				</ul>
			</div>
			<div id="map_canvas" style="width:100%; height:500px;"></div>
			<h2>Speed (kph) over Time (h)</h2>
			<div id="graph" style="width:100%; height:400px;margin-top:30px;"></div>
		</div>
		<%= erb :javascript %>
		<%= erb :protovis %>		
	</body>
</html>
