<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="/css/boilerplate.css" type="text/css"/>
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<title>Where is Pat?</title>
	</head>
	<body>
		<div class="container">
			<h1>Where is Pat?</h1>
			<div class="social">
			    Find me on
			    <a href="http://www.facebook.com/public/Patric-Fornasier"><img src="images/facebook.png" alt="Facebook"></a>
				<a href="http://twitter.com/#!/patforna"><img src="images/twitter.png" alt="Twitter"></a>
			</div>			
			<div class="tweet">
				<ul>
					<li class="last-tweet">
						<span class="title">Last tweet:</span> <span class="value"><%= auto_link(@last_tweet.text) %></span> <span class="detail">| <%= ago_in_words(@last_tweet.created_at) %></span>
					</li>
					<li class="last-location">
						<span class="title">Last known location:</span>
						<span class="value"><%= @last_place.name %></span>
						<span class="detail">| <span class="latitude"><%= @last_place.latitude %></span>, <span class="longitude"><%= @last_place.longitude %></span></span>
						<span class="detail">| <%= ago_in_words(@last_place.visited_at) %></span>
					</li>					
					<% if @hours_since_last_place > 0 %>
					<li class="freshness">
						<span class="title">Freshness:</span>
						<span class="value">It's been some time since his last locatable tweet - he could be <span class="how-far"><%= @how_far_might_he_have_gone %></span> miles away by now</span>
					</li>
					<% end %>
				</ul>
			</div>
			<div id="map_canvas"></div>
		</div>
		<%= erb :javascript %>
	</body>
</html>
